<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv9fi2ZMn5BFqUA2p52cdGMFETUvzwumI&libraries=places"></script>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= VUE_APP_TITLE %> doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <main role="main">
      <div id="app"></div>
    </main>

    <!-- built files will be auto injected -->
  </body>
</html>
