//  _______ _______
//  |  |  | |______
//  |  |  | ______|
// author: mSantana
// createdAt 2020-05-18 08:58
// Stardate: 202005.18 08.58
// fileName: theme/style.scss

@import 'variables.scss';
@import 'mixins.scss';

* {
  margin: 0%;
  padding: 0%;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}

#signup-form-container {
  box-sizing: border-box;
}

#login-box {
  position: relative;
  box-sizing: border-box;
  margin: 5% 10% 5% 10%;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

/* Style the form icons */
.icon {
  padding: 5px;
  color: $main;
  min-width: 50px;
  text-align: center;
  font-size: 1.5rem;
}
select,
input[type='text'],
input[type='password'] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  height: 32px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type='text']:focus,
input[type='password']:focus {
  border-bottom: 2px solid $secondary; //Cahnge me
  background-color: lighten($color: $secondary, $amount: 50%);
  color: $main;
  transition: 0.8s ease;
  box-shadow: 2px 1px rgba(0, 0, 0, 0.4);
}

input[type='text']:hover,
input[type='password']:hover {
  border-bottom: 2px solid $secondary;
  transition: 0.8s ease;
}

button[type='submit'] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: $main;
  border: none;
  border-radius: 8px;
  color: $light-accent;
  font-family: 'Roboto', sans-serif; // Change me
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s ease;
  cursor: pointer;
}

button[type='submit']:disabled {
  cursor: not-allowed;
  color: $main;
  background: $light-accent;
}

.button {
  border-radius: 20%;
  background-color: $main;
  color: $light-accent;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  transition-duration: 0.5s;
  transition: 0.2s ease;
}

.button:hover {
  background-color: $light-accent;
  color: $main;
  opacity: 0.8;
}

input[type='submit']:hover,
input[type='submit']:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

input[type='submit']:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.tip {
  margin-top: 0;
  padding-top: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem;
  color: $light-accent;
}
// mesage
.info {
  color: $vue-color;
  font-size: 1.5rem;
}

// Validation

.error {
  .icon {
    color: $danger-color;
  }
  .info {
    color: $danger-color;
    margin-top: 0%;
  }
  input {
    background-color: lighten($color: $danger-color, $amount: 20%);
    opacity: 0.6;
    border-radius: 10px;
  }
  span {
    color: $danger-color;
  }
}

// Main card
.box {
  box-sizing: border-box;
  margin: 5% 5% 5% 5%;
  // width: auto;
  height: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

//Tooltips as in https://www.w3schools.com/css/css_tooltip.asp
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $main;
  color: $light-accent;
  padding: 5px 0;
  border-radius: 20px;
}

// Errors

.error {
  .icon {
    color: $danger-color;
  }
  .info {
    color: $danger-color;
    margin-top: 0%;
  }
  input {
    background-color: lighten($color: $danger-color, $amount: 20%);
    opacity: 0.6;
    border-radius: 10px;
  }
  span {
    color: $danger-color;
  }
}

.form-wizard-button {
  &:hover {
    font-weight: bold;
    background: $main;
    color: $light-accent;
  }
  margin-top: 28px;
  width: 100px;
  height: 32px;
  background: $light-accent;
  border: none;
  border-radius: 8px;
  color: $main;
  font-family: 'Roboto', sans-serif; // Change me
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s ease;
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid;
  display: inline-block;
  border-radius: 3px;
  margin-left: 10px;
  color: $danger-color;
  border-color: $danger-color;
}
