/* Main colors */
$main: #0c466d;
$secondary: #2596c7;
$dark: #222222;
$light-accent: #bfdfee;
$light-accent-1: lighten($light-accent, 10%);
/* Misc */

$vue-color: #46bd87; //TODO refactor to a better name
$danger-color: #ea4d46;
$warning-color: #e2c65d;

/* Navbar */

$navbar-height: 3.6rem;
// $navbar-color: #fff;
$navbar-color: $main;
$navbar-offline-color: #333;
// $navbar-link-color: #2c3e50;
$navbar-link-color: $light-accent;
